<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-document-scanner"
        version="4.0.0">

  <name>Scan</name>

  <engines>
    <engine name="cordova-android" version=">=6.4.0" />
  </engines>

  <asset src="www/scan.js" target="js/scan.js"/>
  
  <js-module src="www/scan.js" name="scan">
    <clobbers target="scan" />
  </js-module>


<!--  <dependency id="cordova-plugin-cocoapod-support" version="1.3.0" />-->

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Scan">
        <param name="android-package" value="com.neutrinos.plugin.Scan"/>
      </feature>
    </config-file> 
   
    <source-file src="src/android/Scan.java" target-dir="src/com/neutrinos/plugin/" />
    <source-file src="src/android/FileHelper.java" target-dir="src/com/neutrinos/plugin/" />
   
    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
  </platform>


  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Scan">
        <param name="ios-package" value="Scan" />
      </feature>
    </config-file>
    
<!--     <config-file target="*-Info.plist">
        <array>
            <string>NSPhotoLibraryUsageDescription</string>
            <string>need photo library access to save pictures there</string>
        </array>
    </config-file> -->
    
<!--     <config-file target="*-Info.plist">
        <array>
            <string>NSCameraUsageDescription</string>
            <string>need camera access to scan</string>
        </array>
    </config-file> -->
          
          <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
            <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
                <string>$CAMERA_USAGE_DESCRIPTION</string>
            </config-file>
          
          <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="This app needs read/write-access photo library access"/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
                <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
            </config-file>
          
    
<!--    <config-file target="*-Info.plist" parent="UIBackgroundModes">-->
<!--        <array>-->
<!--            <string>remote-notification</string>-->
<!--            <string>voip</string>-->
<!--        </array>-->
<!--    </config-file>-->
<!--    <config-file target="*-Debug.plist" parent="aps-environment">-->
<!--        <string>development</string>-->
<!--    </config-file>-->
<!--    <config-file target="*-Release.plist" parent="aps-environment">-->
<!--        <string>production</string>-->
<!--    </config-file>-->


<header-file src="src/ios/Scan.h" target-dir="ScanPlugin"/>
<source-file src="src/ios/Scan.m" target-dir="ScanPlugin"/>

<!-- <framework src="src/ios/CropViewController.framework" custom="true" embed="true"/> -->
<framework src="src/ios/TOCropViewController.framework" custom="true" embed="true"/>
<framework src="src/ios/IRLDocumentScanner.framework" custom="true" embed="true"/>
<!--<header-file src="src/ios/Scanui.h" target-dir="ScanPlugin"/>-->
<!--<source-file src="src/ios/Scanui.m" target-dir="ScanPlugin"/>-->
    
<!--    <pods-config ios-min-version="8.0" use-frameworks="true"/>-->
<!--    <pod id="IRLDocumentScanner" version="0.3.1"/>-->
<!--<pod id="TOCropViewController" version="2.3.6"/>-->

<!--         <framework src="IRLDocumentScanner" type="podspec" spec="~> 0.3.1" />-->
<!--     <framework src="TOCropViewController" type="podspec" spec="~> 2.3.6" />-->
<!--     <framework src="OpenSSL" type="podspec" spec="~> 1.0.0" />-->

 
  </platform>

</plugin>
